/* default html style */

* {
	font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ","Meiryo",sans-serif !important;
}

body {
	font-size: 16px;
}

.main-menu+.header-widgets {
	margin-top: 0;
}

.container, .comments-container #disqus_thread, .entry-content, .entry-cover, .entry-cover figcaption, .entry-footer, .entry-nav, .entry-toc, .home-sections, .list, .pagination, .term-cloud {
	max-width: 840px;
}

h1, h2, h3, h4 {
	font-weight: normal;
}

.header-info .title {
	text-transform: none;
}

.entry-content h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	padding-bottom: 5px;
	font-size: 1.6em;
}

.entry-content h2 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.07);
	padding-bottom: 5px;
	font-size: 1.4em;
}

.entry-content h3 {
	color: #FF9800;
	font-size: 1.2em;
}

h4 {
	color: #FF9800;
	font-size: 1.2em;
}

a {
	color: #2196F3;
}

a:hover {
	color: #1976D2;
	text-decoration: underline;
}
